/* CSS for Counter */

/********* GT Official Web Colors *********/
/********* GT Official Web Colors *********/
:root {
  /*** Primary Colors ***/
  --gt-black: #262626;
  --gt-white: #ffffff;
  --gt-gold: #b3a369;
  --gt-blue: #004f9f;
  --gt-light-grey: #ccc;
  --gt-md-grey: #545454;
  --gt-dark-gray: #3b3b3b;
  --gt-buzz-gold: #eeb211;

  /* Primary (tech gold) */
  --gt-primary-gold: #b3a369;

  /* Secondary (gt pimile) */
  --gt-secondary: #d6dbd4;

  /* Success  */
  --gt-success: #349e08;

  /* Danger (horizon) */
  --gt-danger: #f95e10;

  /* Warning */
  --gt-warning: #ff0101;

  /* Information (gt navy) */
  --gt-info: #003057;

  /* Light (gt pimile light) */
  --gt-light: #f2f3f1;

  /* Dark Grey */
  --gt-dark: #3b3b3b;

  /*** Primary Font  ***/
  --font-roboto: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-roboto-condensed: 'Roboto Condensed', sans-serif;
  --font-roboto-slab: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-abel: 'Abel', sans-serif;
}

.counter {
  background-color: inherit;
  padding: 20px 0;
  border-radius: 5px;
}

.count-text {
  font-size: 1.1rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.1;
}

.count-number {
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

/* Font Awesome */
.fa {
  font-family: FontAwesome;
}

.fa-1x,
.fa-2x,
.fa-3x,
.fa-4x,
.fa-5x {
  margin: 0 auto;
  float: none;
  display: table;
  color: inherit;
}

/* Color */

/* Blue */
.curie-blue{
  background-color: var(--gt-blue);
}
.curie-blue,
.curie-blue p,
.curie-blue .timer.count-number,
.curie-blue .fa,
.text-align-center.curie-blue {
  color: var(--gt-white);
}

.text-align-center.curie-blue {
  background: transparent;
  color: var(--gt-blue) !important;
}

/* Dark */
.curie-dark {
  background-color: var(--gt-black);
}
.curie-dark,
.curie-dark p,
.curie-dark .timer.count-number,
.curie-dark .fa {
  color: var(--gt-white);
}

.text-align-center.curie-dark {
  background: transparent;
  color: var(--gt-black) !important;
}

/* Gold */
.curie-gold {
  background-color: var(--gt-gold);
}
.curie-gold,
.curie-gold p,
.curie-gold .timer.count-number,
.curie-gold .fa {
  color: var(--gt-black);
}

.text-align-center.curie-gold {
  background: transparent;
  color: var(--gt-gold) !important;
}

/* Light */
.curie-light {
  background-color: var(--gt-light-grey);
}
.curie-light,
.curie-light p,
.curie-light .timer.count-number,
.curie-light .fa {
  color: var(--gt-black);
}

.text-align-center.curie-light {
  background: transparent;
  color: var(--gt-black) !important;
}

/* Neutral*/
.curie-neutral {
  background-color: transparent;
  border: 1px solid var(--gt-light-grey);;
}
.curie-neutral,
.curie-neutral p,
.curie-neutral .timer.count-number,
.curie-neutral .fa {
  color: var(--gt-black);
}

.text-align-center.curie-neutral {
  background: transparent;
  color: var(--gt-black) !important;
}

/* Shapes */
.circle {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.square {
  padding: 20px 0;
  border-radius: 0;
}

.rounded {
  border-radius: 25px !important;
}

.diamond {
  position: relative;
  height: 170px;
  width: 170px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 2rem;
}

.counter-rotate {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
